{% extends 'base.html.twig' %}

{% block title %}Liste des circuits de la catégorie {{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste des circuits de la catégorie {{ category.name }}</h1>
            </div>
            {% for circuit in circuits.data %}
                <div class="col-3 mb-3">
                    <article class="card h-100">
                        <img src="{{ asset('assets/uploads/circuits/mini/300x300-' ~ circuits.images[0].name ) }}" class="card-img-top" alt="{{ circuit.name }}">
                        <div class="card-body">
                            <h2 class="card-title">{{ circuit.name }}</h2>
                            <p class="card-text">{{ circuit.description }}</p>
                            <a href="{{ path('circuits_details', {"slug": circuit.slug }) }}" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
            {% set path = 'categories_list' %}
            {% set slug = category.slug %}
            {% set pages = circuits.pages %}
            {% set currentPage = circuits.page %}
            {% include "_partials/_pagination.html.twig" %}
        </section>
    </main>
{% endblock %}