{% extends 'base.html.twig' %}

{% block title %}Liste de nos circuits {{ category.name }}{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Nos circuits en {{ category.name }}</h1>
            </div>
            
            {% for circuit in circuits.data %}

                <div class="col-3 mb-3">
                    <article class="card h-100">
                        {% for image in circuit.images %}
                            <img src="{{ asset('assets/uploads/circuits/mini/300x300-' ~ image.name) }}" class="card-img-top" alt="{{ circuit.name }}">
                        {% endfor%}
                                       
                        <div class="card-body">
                            <h2 class="card-title">{{ circuit.name }}</h2>
                            <p class="card-text">{{ circuit.description }}</p>
                            <a href="{{ path('circuits_details', {"slug": circuit.slug }) }}" class="btn btn-warning btn-lg btn-block my-3">Voir les détails</a>
                        </div>
                    </article>

                </div>
            {% endfor %}
            {% set path = 'categories_list' %}
            {% set slug = category.slug %}
            
        </section>
    </main>
{% endblock %}