{% extends 'base.html.twig' %}

{% block title %}Liste de nos circuits {{ category.name }}{% endblock %}

{% block body %}

    <main class="container py-4">
        <section class="row">
            <div class="col-12">
                <h1 style="color:#ff8c00;">Nos circuits en {{ category.name }}</h1>
            </div>
            
            {% for circuit in circuits.data %}

                <div class="col-3 mb-3">
                    <article class="card h-100">
                        {% for image in circuit.images %}
                            <img src="{{ asset('assets/uploads/circuits/mini/300x300-' ~ image.name) }}" class="card-img-top" alt="{{ circuit.name }}">
                        {% endfor%}
                                       
                        <div class="card-body" style="background-color:#ffa50033;">
                            <h2 class="card-title text-center"style="color: #4d6de6;">{{ circuit.name }}</h2>
                            <p class="card-text">{{ circuit.description }}</p>
                            <a href="{{path("cart_add", {id: circuit.id})}}" style="background-color: #ff8c00;color:#FFFFFF" class="btn btn-warning btn-lg btn-block my-3 d-flex justify-content-center">Ajouter au Panier</a>
                        </div>
                    </article>

                </div>
            {% endfor %}
            {% set path = 'categories_list' %}
            {% set slug = category.slug %}
            
        </section>
    </main>
{% endblock %}