<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - envolvoyage</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
     
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
            
		<!-- Feuilles de styles -->
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css.map') }}">
        {% endblock %}
	
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

		<!-- Fichiers JS -->
        {% block javascripts %}
		<script src="{{ asset('assets/js/bootstrap.bundle.js') }}" defer></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js.map') }}" defer></script>
		{% endblock %}
		
    <body>
        {% block header %}
        {% include 'include/_header.html.twig' %}
        {% endblock %}

        {% block body %}
        
        {% endblock %}


        
        {% block footer %}
        {% include 'include/_footer.html.twig' %}
        {% endblock %}
    </body>
</html>
