{% extends "base.html.twig" %}

{% block title %}Administration des circuits
{% endblock %}

{% block body %}
	<div class="container py-3">
		<a class="btn btn-info" href="{{path('admin_circuits_index')}}">Administrer les circuits</a>
		
		<h1 style="color: #4d6de6"; class="text-center font-weight-bold py-3"">Administrer les circuits</h1>
		<a href="{{path('admin_circuits_add')}}" style="background-color: #03989C;color:#FFFFFF" class="btn">Ajouter</a>

		<fieldset class="container">
			<table class="table">

				<thead>
					<tr>
						<td>Id</td>
						<td>Nom de circuit</td>
						<td>Prix</td>
						<td>Image1</td>
						<td>Actions</td>
					</tr>

				</thead>

				<tbody>

					{% for circuit in circuits %}

						<tr>
							<td>
								{{circuit.id}}
							</td>
							<td>
								{{circuit.name}}
							</td>
							<td>
								{{circuit.price}}€
							</td>
							<td></td>
							<td>

								<a href="{{path('admin_circuits_edit',{id:circuit.id})}}" style="background-color: #4d6de6;color:#FFFFFF" class="btn">Mdf</a>
								<a href="{{path('admin_circuits_delete',{id:circuit.id})}}" style="background-color: #ff8c00;color:#FFFFFF" class="btn ">Sup</a>

							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</fieldset>


		<style>
			.fieldset {
				border-radius: 10px;
			}
		</style>
	</div>
{% endblock %}
